main {
  background-color: var(--BG-color);
}

header {
  width: 100%;
  height: 40vh;
  overflow: hidden;
  background: var(--BG-color);
  position: fixed;
  z-index: 1;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  height: 100%;
}

.heatMap {
  padding-top: 40vh;
  height: 60vh;
}

nav .pie,
nav .logo {
  padding: 0;
  margin: 0;
  max-width: 30rem;
}

nav .title {
  color: #ffffff;
  word-wrap: none;
  font-size: 2rem;
  align-self: start;
  text-transform: uppercase;
}

nav div {
  text-align: center;
  justify-self: center;
}

nav .pie {
  justify-self: unset;
}

.logo {
  width: 50%;
}

app-auto-scroll {
  top: -40;
  height: 60vh;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
