<header class="container-fluid">
  <nav>
    <div class="logo">
      <img src="../assets/Icon-256.png" alt="QuantsAPP" />
    </div>
    <div class="title">
      <h1>synopsis>>futures oi</h1>
    </div>
    <div class="pie">
      <canvas id="ctx">{{ ctx }}</canvas>
    </div>
  </nav>
</header>
<main class="container-fluid">
  <div class="heatMap ">
    <cdk-virtual-scroll-viewport itemSize="400">
      <div>
        <div *cdkVirtualFor="let item of stocks | async">
          <app-heat-map [stocks]="item"></app-heat-map>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</main>
