<header class="container-fluid">
  <nav>
    <div class="logo">
      <img src="../assets/Icon-256.png" alt="QuantsAPP" />
    </div>
    <div class="title">
      <h1>synopsis>>futures oi</h1>
    </div>
    <div class="pie">
      <canvas id="ctx">{{ ctx }}</canvas>
    </div>
  </nav>
</header>
<main class="container-fluid">
  <div class="heatMap ">
    <!-- TODO smoother scroll  -->
    <!-- TODO cdk hight error -->
    <cdk-virtual-scroll-viewport itemSize="365">
      <app-heat-map [stocks]="stocks"></app-heat-map>
    </cdk-virtual-scroll-viewport>
  </div>
</main>
