<mat-card *ngIf="item">
  <mat-card-title>
    {{ item.symbol }}
  </mat-card-title>
  <mat-card-content>
    <div>
      <small>fut price</small>
      <p>{{ item.fut_close }}</p>
    </div>
    <div>
      <small>{{ item.type }} diff</small>
      <p [ngStyle]="{ color: diffColor(item.diff) }">{{ item.diff }}</p>
    </div>
    <div>
      <small>hc strike</small>
      <p [ngClass]="{ test: item.type === 'call' }">
        {{ item.h_call | strike }}
      </p>
    </div>
    <div>
      <small>hp strike</small>
      <p [ngClass]="{ test: item.type === 'put' }">{{ item.h_put | strike }}</p>
    </div>
    <div>
      <small> oi</small>
      <p>{{ item.oi | number: '0.0-0' }}</p>
    </div>
    <div>
      <small> oi change</small>
      <p>{{ item.oi_chg }}</p>
    </div>
  </mat-card-content>
</mat-card>
