header {
  height: 20vh;
  width: 100vw;
  position: fixed;
  top: 0;
  overflow: hidden;
  background: var(--BG-color);
  z-index: 1;
  nav {
    display: flex;
    padding: 0 3rem;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    div {
      min-width: 25%;
    }
    h1 {
      text-transform: capitalize;
      font-size: 5rem;
    }
  }
}
