<main>
    <ng-container *ngFor="let r of stocks">
        <mat-card [ngClass]="r.type" *ngIf="r">
            <mat-card-content class="subGrid ">
                <p class="symbol">{{ r.SYMBOL }}</p>
                <p class="price">{{ r.PRICE }}</p>
                <div>
                    <p>% price</p>
                    <p>{{ r.PRICE_CHANGE * 100 | number: '1.2-2' }}</p>
                </div>
                <div>
                    <p>% OI</p>
                    <p class="">{{ r.OI_CHANGE * 100 | number: '1.2-2' }}</p>
                </div>
            </mat-card-content>
        </mat-card>
    </ng-container>
</main>