<main>
    <mat-card *ngFor="let r of stocks" [ngClass]="r.type">
        <ng-container *ngIf="r">
            <mat-card-title>
                <p>{{ r.SYMBOL }}</p>
            </mat-card-title>
            <mat-card-content class="subGrid ">
                <p class="span2">{{ r.PRICE }}</p>
                <p>% Price chg</p>
                <p>{{ r.PRICE_CHANGE * 100 | number: '1.2-2' }}</p>
                <p>% OI chg</p>
                <p>{{ r.OI_CHANGE * 100 | number: '1.2-2' }}</p>
            </mat-card-content>
        </ng-container>
    </mat-card>
</main>
