$title-bar: #4d586e;
$symbol: #f49c0f;

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  .subGrid {
    display: grid;
    min-width: 16rem;
    grid-template-columns: repeat(2, 1fr);
    .symbol {
      grid-column: span 2;
    }
  }
}
small {
  text-transform: uppercase;
}

.title-bar {
  background: $title-bar;
  color: white;
}
.symbol {
  color: $symbol;
}
mat-card {
  background: var(--FG-color);
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
mat-card-title {
  font-size: 3rem;
  &.grid-title {
    font-size: 3.5rem;
  }
}
mat-card-subtitle,
small {
  font-size: 1.5rem;
  color: rgba($color: #ffffff, $alpha: 0.5);
}
p {
  font-size: 2rem;
  font-weight: bolder;
  word-wrap: none;
}
