main {
  display: flex;
  justify-content: space-between;
  .title-bar {
    width: 250px;
    margin: 0.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    h4 {
      text-align: center;
      margin: auto;
    }
  }
}
.p {
  * {
    margin: 0;
    padding: 0;
  }
}

$title-bar: #4d586e;
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0.5rem;
  .subGrid {
    display: grid;
    min-width: 16rem;
    grid-template-columns: repeat(2, 1fr);
    .symbol {
      grid-column: span 2;
    }
  }
}

.title-bar {
  background: $title-bar;
  color: white;
}

.symbol {
  color: var(--Symbol-color);
}

mat-card {
  background: var(--FG-color);
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

mat-card-title {
  font-size: 3rem;
  &.grid-title {
    font-size: 3.5rem;
  }
}

mat-card-subtitle,
small {
  font-size: 2rem;
  // color: rgba($color: #f49c0f, $alpha: 1);
  color: rgba($color: #ffffff, $alpha: 0.75);
  text-transform: uppercase;
  font-weight: lighter;
}

p {
  font-size: 2rem;
  font-weight: bolder;
  word-wrap: none;
}
