main {
  background-color: var(--BG-color);
}

.pie {
  width: 100vw;
  height: 40vh;
  overflow: hidden;
  position: fixed;
  background: var(--BG-color);
}
.heatMap {
  padding-top: 40vh;
}
.pie div {
  width: 30rem;
}
