.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1rem;
}
.subGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 150px;
  min-height: 150px;
  padding: 0.5rem;
}
small {
  word-wrap: break-word;
}

.span2 {
  grid-column: span 2;
}
.l {
  background: var(--L-color);
}
.lu {
  background: var(--LU-color);
}
.s {
  background: var(--S-color);
}
.sc {
  background: var(--SC-color);
}
