/* You can add global styles to this file, and also import other style files */

:root {
    --L-color: #00ff00;
    --S-color: #ff0000;
    --LU-color: #00d0f9;
    --SC-color: #ffff00;
    --BG-color: rgb(4, 16, 33);
    --FG-color: rgba(248, 248, 248, 0.1);
    --Symbol-color: #f49c0f;
}

img {
    display: block;
    height: 100%;
    width: 100%;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background: var(--BG-color);
    color: #ffffff;
}

cdk-virtual-scroll-viewport {
    height: 100%;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
