main {
  & > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 0.5rem;
  }
  small {
    font-size: 1.5rem;
    color: rgba($color: #ffffff, $alpha: 0.5);
    text-transform: uppercase;
  }
  p {
    font-size: 2rem;
    font-weight: bolder;
    word-wrap: none;
  }
  mat-card {
    font-size: 3rem;
    background: var(--FG-color);
    color: #ffffff;
    mat-card-title {
      font-size: 3rem;
    }
    mat-card-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
header {
  margin: 1rem 0;
  text-transform: uppercase;
  mat-card {
    color: rgba($color: #ffffff, $alpha: 0.5);
    background: rgba(248, 248, 248, 0.2);
    text-align: center;
  }
}
