<!-- TODO Refactor later -->
<div class="grid">
  <main>
    <header>
      <mat-card>
        <mat-card-title>
          highest call
        </mat-card-title>
      </mat-card>
    </header>
    <div>
      <article *ngFor="let item of data | async">
        <mat-card>
          <mat-card-title>
            {{ item.symbol }}
          </mat-card-title>
          <mat-card-content>
            <div>
              <small>oi</small>
              <p>{{ item.h_call_oi }}</p>
            </div>
            <div>
              <small>oi change</small>
              <p>{{ item.h_call_oi_chg }}</p>
            </div>
            <div>
              <small>call diff</small>
              <p>{{ item.h_call_diff }}</p>
            </div>
            <div>
              <small>future price</small>
              <p>{{ item.fut_close }}</p>
            </div>
          </mat-card-content>
        </mat-card>
      </article>
    </div>
  </main>

  <main>
    <header>
      <mat-card>
        <mat-card-title>
          highest put
        </mat-card-title>
      </mat-card>
    </header>
    <div>
      <article *ngFor="let item of data2 | async">
        <mat-card>
          <mat-card-title>
            {{ item.symbol }}
          </mat-card-title>
          <mat-card-content>
            <span>
              <small>oi</small>
              <p>{{ item.h_put_oi }}</p>
            </span>
            <span>
              <small>oi change</small>
              <p>{{ item.h_put_oi_chg }}</p>
            </span>
            <span>
              <small>put diff</small>
              <p>{{ item.h_put_diff }}</p>
            </span>
            <span>
              <small>future price</small>
              <p>{{ item.fut_close }}</p>
            </span>
          </mat-card-content>
        </mat-card>
      </article>
    </div>
  </main>
</div>
