<!-- TODO Refactor later -->
<div class="grid">
  <main>
    <app-headers title="highest call">
      <mat-icon style="color: #90ee90;">
        trending_up
      </mat-icon>
    </app-headers>
    <div>
      <article *ngFor="let item of calls | async">
        <app-stock [item]="item"></app-stock>
      </article>
    </div>
  </main>
  <main>
    <app-headers title="highest put" end="true">
      <mat-icon style="color: #ff4500;">
        trending_down
      </mat-icon>
    </app-headers>
    <div>
      <article *ngFor="let item of puts | async">
        <app-stock [item]="item"></app-stock>
      </article>
    </div>
  </main>
</div>
